<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082744224514-r6h2hrv8m2ktluk2h07iiorlh1ua365o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQGgiAHVQBgBrm9m_iLMWqn9PFJ5xW_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1082744224514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDynamicNotifications</string>
	<key>PROJECT_ID</key>
	<string>pushnotification7997</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification7997.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082744224514:ios:909539d63660ac0ea4601b</string>
</dict>
</plist>